<%= render "layouts/navbar" %>
<div class="container">
  <div class="song-list">
    <p>
      Out Loud can provide a tailored experience for your event. Whether
      you are looking for a relaxed, easy listening feel or a rockin' dance
      party we can supply the tunes.
    </p>
    <p>
      Give us a call to talk about what you want to hear!<br>
      For inquiries about pricing and availability please call or text Jeff at
      <b>(402) 669-1248</b> or send us an email at <%= mail_to "outloudrock@gmail.com" do %>
<strong>outloudrock@gmail.com</strong>
<% end %>
    </p>
  </div>
</div>
