<div class="dark-background">
  <div class="page-wrapper">
<div class='sk-ww-facebook-photo-albums' data-embed-id='29665'></div><script src='https://www.sociablekit.com/app/embed/facebook-photo-albums/widget.js'></script>
  </div>

  <%= render "layouts/footer" %>
</div>
