
<%= render "layouts/navbar" %>
<div class="row">
    <div class="col m4 offset-m1">
      <div id="gigsalad_review_widget">Please wait.</div>
    </div>
    <div class="col m6">
      <p class="song-list">
        We provide all necessary sound and lighting equipment. From an intimate
        environment to large street dances, we are equipped to provide an exceptional
        show. Because every audience includes a variety of music preferences, we
        tailor each show to appeal to the crowd. From easy listening to full-on
        dance parties, we will create a vibe that fits your event.<br><br>
        We are pros. You can expect timely and friendly communication. We will
        show up on time (probably early), and be ready to play on time. We take
        short breaks. In fact, if we think we may lose patrons or guests, we
        will skip breaks to keep the party going. We understand you are paying
        good money for entertainment and we WILL deliver!
      </p>
    </div>
  </div>
