<div class="dark-background">
  <div class="content-container">
    <div class="row">
      <div class="col-md-7">
        <div id="gigsalad-reviews-widget"></div><script>var gsReviewWidget;(function(d,t){var s=d.createElement(t),options={path:'39274',maxWidth:600,count:4};s.src='https://www.gigsalad.com/js/gigsalad-reviews-widget.min.js';s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs)if(rs!='complete')if(rs!='loaded')return;try{gsReviewWidget=new GsReviewsWidget(options);gsReviewWidget.display();}catch(e){}};var scr=d.getElementsByTagName(t)[0];var par=scr.parentNode;par.insertBefore(s,scr);})(document,'script');</script>
      </div>
      <div class="col-md-5">
        <p class="white-text list-font spacing">
          We provide all necessary sound and lighting equipment. From an intimate
          environment to large street dances, we are equipped to provide an exceptional
          show. Because every audience includes a variety of music preferences, we
          tailor each show to appeal to the crowd. From easy listening to full-on
          dance parties, we will create a vibe that fits your event.<br><br>
          We are pros. You can expect timely and friendly communication. We will
          show up on time (probably early), and be ready to play on time. We take
          short breaks. We are here for you!
        </p>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</div>
