<div class="dark-background">
  <div class="content-container text-center">
    <ul class="center-align white-text list-font list-unstyled">
      <li>3 a.m.  - - Matchbox 20</li>
      <li>American Band  - - Grand Funk Railroad</li>
      <li>Any Way you Want it  - - Journey</li>
      <li>Are You Gonna Be My Girl - - Jet</li>
      <li>Bad Moon Rising - - CCR</li>
      <li>Basket Case - - Greenday</li>
      <li>Billie Jean - - Michael Jackson</li>
      <li>Black Horse and a Cherry Tree - - KT Tunstall</li>
      <li>Black Magic Woman - - Carlos Santana</li>
      <li>Blue on Black  - -  Kenny Wayne Shepard</li>
      <li>Born to Be Wild - - Steppenwolf</li>
      <li>Boys of Summer  - - Ataris</li>
      <li>Break Up Song - - Greg Kihn Band</li>
      <li>Brown Eyed Girl - - Van Morrison</li>
      <li>Burning Down the House - - Talking Heads</li>
      <li>Cold Hard Bitch - - Jet</li>
      <li>Come Together - - The Beatles</li>
      <li>Crazy Little Thing Called Love - Queen</li>
      <li>Cumbersome - - 7 Mary 3</li>
      <li>Dani California - - Red Hot Chili Peppers</li>
      <li>December - - Collective Soul</li>
      <li>Drift Away - - Doobie Brothers</li>
      <li>Every Rose Has It's Thorn - - Poison</li>
      <li>For What its Worth - Buffalo Springfield</li>
      <li>Foreplay / Long time  - - Boston</li>
      <li>Funk #49 - - Joe Walsh</li>
      <li>Gimmie All Your Lovin - - ZZ Top</li>
      <li>Gimme Three Steps - - Lynyrd Skynyrd</li>
      <li>Heartbreaker - - Pat Benatar</li>
      <li>Hold On Loosely -- 38 Special</li>
      <li>Holiday - - Greenday</li>
      <li>Honky Tonk Women - - Rolling Stones</li>
      <li>Hot Blooded - - Foreigner</li>
      <li>Hotel California - - Eagles</li>
      <li>House of the Rising Sun - - Ventures</li>
      <li>Hows It Going To Be - - Third Eye Blind</li>
      <li>Hurts So Good - - John Melloncamp</li>
      <li>I Love Rock and Roll - - Joan Jett</li>
      <li>I’m A Believer - - Smashmouth</li>
      <li>If You Could Only See - - Tonic</li>
      <li>If you Want to Get to Heaven - - Ozark Mountain Daredevils</li>
      <li>In the Air Tonight - - Phil Collins</li>
      <li>Inside Out - -  Eve 6</li>
      <li>Jenny - - Tommy Tutone</li>
      <li>Jessie's Girl - - Rick Springfield</li>
      <li>Just What I Needed - - The Cars</li>
      <li>Knockin On Heaven's Door - - Bob Dylan/Guns N Roses</li>
      <li>Kryptonite - -  3 Doors Down</li>
      <li>La Grange - - ZZ Top</li>
      <li>Lonely Boy - - Black Keys</li>
      <li>Long Cool Woman - - The Hollies</li>
      <li>Losing My Religion - - REM</li>
      <li>Lunatic Fringe - - Red Rider</li>
      <li>Margaritaville - - Jimmy Buffet</li>
      <li>Mary Jane’s Last Dance - - Tom Petty</li>
      <li>Mony Mony - - Billie Idol</li>
      <li>Mustang Sally - - Buddy Guy and many others</li>
      <li>Never Been Any Reason - - Head East</li>
      <li>One Headlight - - The Wallflowers</li>
      <li>Play That Funky Music - - Wild Cherry</li>
      <li>Pour Some Sugar On Me - - Def Leppard</li>
      <li>Purple Rain - - Prince</li>
      <li>Radar Love - -  Golden Earring</li>
      <li>Refugee - - Tom Petty</li>
      <li>Ring of Fire - - Social Distortion/Johnny Cash
      <li>Rock and Roll All Night - - Kiss</li>
      <li>Rock This Town - - Stray Cats</li>
      <li>Running Down a Dream - - Tom Petty</li>
      <li>Separate Ways - - Journey</li>
      <li>She Hates me - - Puddle of Mudd</li>
      <li>She Talks to Angels - - Black Crowes</li>
      <li>Shine - - Collective Soul</li>
      <li>Shook Me All Night Long - - AC/DC</li>
      <li>Should I Stay or Should I Go - - The Clash</li>
      <li>Small Town - - John Mellencamp</li>
      <li>Smells Like Teen Spirit - - Nirvana</li>
      <li>Some Kind of Wonderful - - Grand Funk Railroad</li>
      <li>Sultans of Swing - - Dire Straits</li>
      <li>Summer of ’69 - - Bryan Adams</li>
      <li>Sweet Caroline - - Neil Diamond</li>
      <li>Sweet Emotion - - Aerosmith</li>
      <li>Sweet Home Alabama - Lynyrd Skynyrd</li>
      <li>Take It Easy - - Eagles</li>
      <li>Taking Care of Business - - Bachman-Turner Overdrive</li>
      <li>The Pretender - Foo Fighters</li>
      <li>The Middle - - Jimmy Eat World</li>
      <li>Turn the Page - - Bob Seger</li>
      <li>Twilight Zone -- Golden Earing</li>
      <li>Twist and Shout - - The Beatles</li>
      <li>Uptown Funk - - Bruno Mars</li>
      <li>Wagon Wheel - -  Darius Rucker</li>
      <li>What I Like About You - - The Romantics</li>
      <li>When I Come Around - - Greenday</li>
      <li>White Wedding - Billy Idol</li>
      <li>Wish You Where Here - - Pink Floyd</li>
      <li>Wonderful Tonight - - Eric Clapton</li>
      <li>Working for the Weekend - - Loverboy</li>
      <li>Working Man - - RUSH</li>
      <li>You May Be Right  - - Billy Joel</li>
      <li>Zombie - - Cranberries/Bad Wolves</li>
    </ul>
  </div>
  <%= render "layouts/footer" %>
</div>
