<div class="page-container">
  <%= render "layouts/navbar" %>

  <div class="row">
    <div class="col m3 hide-on-small-only">

    </div>
    <div class="col m6">
      <ul class="center-align">
        <li>3 a.m.  - - Matchbox 20</li>
        <li>All Along The Watchtower - - Jimi Hendrix</li>
        <li>American Band  - - Grand Funk Railroad</li>
        <li>Any Way you Want it  - - Journey</li>
        <li>Basket Case - - Greenday</li>
        <li>Black Horse and a Cherry - - Tree KT Tunstall</li>
        <li>Black Magic Woman - - Carlos Santana</li>
        <li>Blue on Black  - -  Kenny Wayne Shepard</li>
        <li>Billie Jean - - Michael Jackson</li>
        <li>Born to Be Wild - - Steppenwolf</li>
        <li>Born to Run  - - Bruce Springsteen</li>
        <li>Brick House - - The Commodores</li>
        <li>Brown Eyed Girl - - Van Morrison</li>
        <li>Burning Down the House - - Talking Heads</li>
        <li>Cold Hard Bitch - - Jet</li>
        <li>Come Together - - The Beatles</li>
        <li>Crazy Little Thing Called Love - Queen</li>
        <li>Cumbersome - - 7 Mary 3</li>
        <li>Dani California - - Red Hot Chili Peppers</li>
        <li>December - - Collective Soul</li>
        <li>Drops of Jupiter - Train</li>
        <li>Every Rose Has It's Thorn - - Poison</li>
        <li>For What its Worth - Buffalo Springfield</li>
        <li>Forever Young - - Rod Stewart</li>
        <li>Foreplay / Long time  - - Boston</li>
        <li>Funk #49 - - Joe Walsh</li>
        <li>Gimmie All Your Lovin - - ZZ Top</li>
        <li>Gimme Three Steps - - Lynyrd Skynyrd</li>
        <li>Gloria - - Van Morrison</li>
        <li>Heaven - - Los Lonely Boys</li>
        <li>Holiday - - Greenday</li>
        <li>Honky Tonk Women - - Rolling Stones</li>
        <li>Hot Blooded - - Foreigner</li>
        <li>Hows It Going To Be - - Third Eye Blind</li>
        <li>Hurts So Good - - John Melloncamp</li>
        <li>I Love Rock and Roll - - Joan Jett</li>
        <li>I’m A Believer - - Smashmouth</li>
        <li>If you Want to Get to Heaven - Ozark Mountain Daredevils</li>
        <li>Inside Out - -  Eve 6</li>
        <li>Jenny - - Tommy Tutone</li>
        <li>Just What I Needed - - The Cars</li>
        <li>Kryptonite - -  3 Doors Down</li>
        <li>La Grange - - ZZ Top</li>
        <li>Lonely Boy - - Black Keys</li>
        <li>Long Cool Woman - - The Hollies</li>
        <li>Loosing My Religion - - REM</li>
        <li>Margaritaville - - Jimmy Buffet</li>
        <li>Mary Jane’s Last Dance - - Tom Petty</li>
        <li>Mustang Sally - - Buddy Guy and many others</li>
        <li>Never Been Any Reason - - Head East</li>
        <li>Not My Problem - - Out Loud</li>
        <li>One Headlight - - The Wallflowers</li>
        <li>Pink Cadillac - - Bruce Springsteen</li>
        <li>Play That Funky Music - - Wild Cherry</li>
        <li>Pour Some Sugar On Me - - Def Leppard</li>
        <li>Pretender - - Foo Fighters</li>
        <li>Radar Love - -  Golden Earring</li>
        <li>Refugee -- Tom Petty</li>
        <li>Riding the Storm Out - - Head East</li>
        <li>Rock and Roll All Night - - Kiss</li>
        <li>ROCK in the USA - - John Mellencamp</li>
        <li>Rock This Town - - Stray Cats</li>
        <li>Running Down a Dream -- Tom Petty</li>
        <li>Semi Charmed Life - Third Eye Blind</li>
        <li>Separate Ways - - Journey</li>
        <li>She Hates me -- Puddle of Mudd</li>
        <li>She Talks to Angels - - Black Crowes</li>
        <li>Shine - - Collective Soul</li>
        <li>Shook Me All Night Long - - AC/DC</li>
        <li>Should I Stay or Should I Go - - The Clash</li>
        <li>Small Town - - John Mellencamp</li>
        <li>Smells Like Teen Spirit - - Nirvana</li>
        <li>Some Kind of Wonderful - - Grand Funk Railroad</li>
        <li>Start Me Up - - Rolling Stones</li>
        <li>Sultans of Swing - - Dire Straits</li>
        <li>Summer of ’69 - - Bryan Adams</li>
        <li>Sweet Caroline - - Neil Diamond</li>
        <li>Sweet Emotion - - Aerosmith</li>
        <li>Sweet Home Alabama - Lynyrd Skynyrd</li>
        <li>Take It Easy - - Eagles</li>
        <li>Taking Care of Business - - Bachman-Turner Overdrive</li>
        <li>The Break Up Song - - Greg Kihn</li>
        <li>The Pretender - Foo Fighters</li>
        <li>The Middle - - Jimmy Eat World</li>
        <li>The River - - Bruce Springsteen</li>
        <li>Turn the Page - - Bob Seger</li>
        <li>Twist and Shout - - The Beatles</li>
        <li>Wagon Wheel - -  Darius Rucker</li>
        <li>What I Like About You - - The Romantics</li>
        <li>When I Come Around - - Greenday</li>
        <li>White Wedding - Billy Idol</li>
        <li>Wish You Where Here - - Pink Floyd</li>
        <li>Wonderful Tonight - - Eric Clapton</li>
        <li>Working for the Weekend - - Loverboy</li>
        <li>Working Man - - RUSH</li>
      </ul>
    </div>
  </div>
</div>
