// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  margin-top: 15vh;
  margin-right: 20px;
  max-width: 590px;
}

.home-background {
  background: image-url("soaring_wings.jpg");
  background-size:cover;
  height: 100vh;
  z-index: 10;
}

.dark-layer {
  width: 100%;
  height: 100%;
}

.banner-text {
  background-color: #B54611;
  color: white;
  padding: 5px;
}

.inline {
  display: inline;
}

.sub-banner {
  height: 30px;
}

.facebook-button {
  height: 30px;
  margin-right: 30px;
}

.sub-banner-text {
  background-color: #CDCDCD;
  margin-top: 0px;
  height: 30px;
  width: 50%;
}

.expanded-schedule {
  background-color: #CDCDCD;
}

.sub-banner-text:hover {
  cursor: pointer;
}

.flex-wrapper {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper {
  width: 300px;
  height: 300px;
  margin: 10px;
  overflow: hidden;
}

.photo {
  width: 100%;
}

.form-center {
  width: 80%;
  margin: auto;
}
