// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-background {
  background: image-url("flames.jpg");
  background-size: cover;
  width: 100%;
  background-position: center;
  height: 100vh;
  z-index: 10;
}

.pattern-background {
  background: image-url("pattern.jpg");
  padding: 20px;
  border-radius: 20px;
}

.dark-background {
  background: image-url("dark-background.png");
  background-repeat: repeat;
  z-index: 0;
  padding-top: 60px;
}

.border-radius {
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  border-color: #CDCDCD;
  background-color: rgba(255,255,255,0.9);
  margin: 15px;
  padding: 5px;
}

.content-container {
  width: 80%;
  margin: auto;
}

.section {
  margin-top: 60px
}

.big-logo {
  margin-top: 190px;
  transition:all 1s ease-in-out;
perspective: 800px;
perspective-origin: 50% 100px;
}

.big-logo:hover{
  transform:rotateZ(720deg);
}

.full-image {
  width: 100%;
  padding: 20px;
}

.white-text {
  color: white;
}

.page-wrapper {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.footer {
  padding: 20px;
  background-color: #333333;
  color: white;
  margin-top: 30;
}

.flex-wrapper {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper {
  width: 300px;
  height: 300px;
  margin: 10px;
  overflow: hidden;
}

.nav-logo {
  width: 45px;
  position: absolute;
  top: -0px;
}

.logo-medium {
  width: 155px;
}

.photo {
  width: 100%;
}

.form-center {
  width: 80%;
  margin: auto;
}

.list-font {
  font-weight: lighter;
  font-size: 1.3em;
}

.spacing {
  letter-spacing: 2px;
  padding-top: 5px;
}

.small-fb {
  width: 30px;
}

////////////

/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */
.mouse-icon {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 16px;
  height: 40px;
  width: 24px;
  margin-left: -15px;
  display: block;
  z-index: 10;
  opacity: 0.7;
}
.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 2px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}
