<!DOCTYPE html>
<html>
  <head>
    <title>Olsite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!-- Compiled and minified JavaScript -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
    <script type="text/javascript" src="https://www.gigsalad.com/js/review_widget.min.js"></script>
    <script type="text/javascript" language="javascript">GS.init('a6I%3A0AFCeR-00AeRrya6wyI%3A3keRI%3AGSVneRmTa6I%3A0A.mW%3AkSzk4lvZ');</script>

  </body>

</html>
